@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}
<div id="main-container">
    <div id="main" class="wrapper clearfix">
        <section>
            <h2>@Umbraco.Field("articlesTitle")</h2>
            <p>@Umbraco.Field("articlesBodyText")</p>
		@Umbraco.RenderMacro("listArticles2")
        </section>  
    </div> <!-- #main -->
</div> <!-- #main-container -->