@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}
<div id="main-container">
    <div id="main" class="wrapper clearfix">
        <section>
            <h2>@Umbraco.Field("pageTitle")</h2>
            <p>@Umbraco.Field("bodyText")</p>
        </section>  
    </div> <!-- #main -->
</div> <!-- #main-container -->