@inherits Umbraco.Web.Macros.PartialViewMacroPage


@{ 
	var siteroot = CurrentPage.AncestorOrSelf(1);
	var selection = siteroot.Children.Where("Visible"); 
}

@if (selection.Any())
{
    <ul>
        @foreach (var item in selection)
        {
            <li>
                <a href="@item.Url">@item.Name</a>
            </li>
        }
    </ul>
}
