<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT ArticlesItem ANY>
<!ATTLIST ArticlesItem id ID #REQUIRED>
<!ELEMENT ArticlesMain ANY>
<!ATTLIST ArticlesMain id ID #REQUIRED>
<!ELEMENT Homepage ANY>
<!ATTLIST Homepage id ID #REQUIRED>
<!ELEMENT SimpleContentPage ANY>
<!ATTLIST SimpleContentPage id ID #REQUIRED>

]>
<root id="-1">
  <Homepage id="1052" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-08-11T14:29:41" updateDate="2015-08-11T14:29:41" nodeName="SK68 HomePage" urlName="sk68-homepage" path="-1,1052" isDoc="" nodeType="1051" creatorName="Martin Knudsen" writerName="Martin Knudsen" writerID="0" template="1050" nodeTypeAlias="Homepage">
    <pageTitle><![CDATA[SK68 Chess Club]]></pageTitle>
    <bodyText><![CDATA[<p>This is the main home of the SK68 Chess Club.</p>]]></bodyText>
    <footerText><![CDATA[copyright webmaster @ SK68 2015]]></footerText>
    <SimpleContentPage id="1057" parentID="1052" level="2" creatorID="0" sortOrder="0" createDate="2015-08-11T14:55:47" updateDate="2015-08-11T15:05:19" nodeName="Contact Us" urlName="contact-us" path="-1,1052,1057" isDoc="" nodeType="1056" creatorName="Martin Knudsen" writerName="Martin Knudsen" writerID="0" template="1055" nodeTypeAlias="SimpleContentPage">
      <pageTitle><![CDATA[To contact us:]]></pageTitle>
      <bodyText><![CDATA[<p> </p>
<p>By email: sk68@sk68.dk</p>
<p> </p>
<p>By Phone: 12345678</p>]]></bodyText>
    </SimpleContentPage>
    <ArticlesMain id="1062" parentID="1052" level="2" creatorID="0" sortOrder="1" createDate="2015-08-11T15:24:45" updateDate="2015-08-13T10:12:50" nodeName="Articles" urlName="articles" path="-1,1052,1062" isDoc="" nodeType="1059" creatorName="Martin Knudsen" writerName="Martin Knudsen" writerID="0" template="1058" nodeTypeAlias="ArticlesMain">
      <articlesTitle><![CDATA[News Articles from the club]]></articlesTitle>
      <articlesBodyText><![CDATA[<p><strong>News from the club will be listed here</strong></p>]]></articlesBodyText>
      <pageTitle><![CDATA[Articles]]></pageTitle>
      <ArticlesItem id="1063" parentID="1062" level="3" creatorID="0" sortOrder="0" createDate="2015-08-11T15:26:44" updateDate="2015-08-13T08:34:31" nodeName="SKwins" urlName="skwins" path="-1,1052,1062,1063" isDoc="" nodeType="1061" creatorName="Martin Knudsen" writerName="Martin Knudsen" writerID="0" template="1060" nodeTypeAlias="ArticlesItem">
        <articleTitle><![CDATA[SK68 wins danish championship!!]]></articleTitle>
        <articleText><![CDATA[<p>By sheer determination SK68 recently won the Danish Championship.</p>
<p>The team consisted of 8 players including Martin Knudsen..:-)</p>]]></articleText>
      </ArticlesItem>
      <ArticlesItem id="1064" parentID="1062" level="3" creatorID="0" sortOrder="1" createDate="2015-08-13T09:39:31" updateDate="2015-08-13T09:39:31" nodeName="New Season Starts" urlName="new-season-starts" path="-1,1052,1062,1064" isDoc="" nodeType="1061" creatorName="Martin Knudsen" writerName="Martin Knudsen" writerID="0" template="1060" nodeTypeAlias="ArticlesItem">
        <articleTitle><![CDATA[New Season Starts]]></articleTitle>
        <articleText><![CDATA[<p>The new season for the club will start on 1st of September 2015, so show up and be ready for something exciting!</p>]]></articleText>
      </ArticlesItem>
    </ArticlesMain>
  </Homepage>
</root>